@page
@model EmpresaTransporte.Pages.Mantenciones.Lista

<h1>Mantenciones del Camión @Model.IdCamion</h1>

<table border="1">
    <thead>
        <tr>
            <th>ID Mantención</th>
            <th>Fecha</th>
            <th>Observación</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model.Mantenciones)
        {
            <tr>
                <td>@m.Id</td>
                <td>@m.Fecha.ToString("dd/MM/yyyy")</td>
                <td>@m.Observacion</td>
            </tr>
        }
    </tbody>
</table>